<!DOCTYPE html>
<html>
<head>
    <title>Daily Weather Tracker</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teachers:wght@400&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Daily Weather Tracker</h1>

<div class="page-container">

    <div class="form-container">

    <form>
  <label for="Temperature">Temperature:</label><br>
  <input type="number" id="Temperature" name="Temperature">
</form>

<form>
  <label for="Humidity">Humidity:</label><br>
  <input type="number" id="Humidity" name="Humidity">
</form>

</div>

<button id="submit-button" class="submit-button">Submit</button>

<h2 id="data-recorded" style="display: none;">
    Data Recorded Successfully!
</h2>

<div id="weather-log"></div>


</div>

<h2 id="data-recorded" style="display: none;">
    Data Recorded Successfully!
</h2>

<div id="weather-log"></div>

<script src="script.js"></script>

</body>
</html>